<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hello Razor Page</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <header>
        <span class="logo">Изучаем ASP.Net Core - Razor Page</span>
        <nav>
            <a href="/Users/UsersPage">Главная</a>
            <a href="/Contacts/ContactsPage">Контакты</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Все права защищены - 2025
        © Vladimir.FPS
    </footer>
 
    @await RenderSectionAsync("Scripts", required: true)
</body>
</html>
